.sider-wrapper {
  
  div {
    display: flex;
    flex-direction: column;

    .sider-logo {
      margin: 0;
      height: 64px;
      line-height: 64px;
      color: #fff;
      font-size: 20px;
      text-align: center;
    }

    .sider-menu {
      flex: 1;
    }
  }
}